<head th:fragment="header">
    <meta http-equiv="Content-Type" content="text/html" />
    <meta charset="UTF-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <meta name='description' content='Meet Susan' />
    <meta name='author' content='UPC Lab' />
    <link rel='icon' href='/favicon.ico' />
    <title>Susan</title>
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css?v2.1.0" />
    <link rel="stylesheet" href="/css/susan-base.css?v2.1.0" />
    <!--[if lt IE 9]>
      <script src='https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js' /></script>
      <script src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js' /></script>
    <![endif]-->
</head>