<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<nav class="navbar navbar-default" th:fragment="menupanel">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-opciones" aria-expanded="false">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">
					<img alt="Brand" src="/img/susan-nav.png" />
				</a>
			</div>
			<div class="collapse navbar-collapse" id="menu-opciones">
				<ul class="nav navbar-nav">
					<li><a href="https://github.com/saintplay/susan">Github</a></li>
					<li><a href="/reservas">Reservas</a></li>
					<li><a href="/hoteles">Hoteles</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="#" onclick="document.getElementById('form-logout').submit();">Cerrar Sesión</a>
					</li>
				</ul>
			</div>
			<form id="form-logout" th:action="@{/logout}" method="POST" style="display: none;"></form>
		</div>
	</nav>
</body>
</html>