@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
* {margin: 0; padding: 0;}
html { height: 100%; }

body {
	font-family: 'Open Sans', sans-serif;
	background: -webkit-linear-gradient(to right, #70E1F5, #FFD194);
	background: linear-gradient(to right, #70E1F5, #FFD194);
	height: 100%;
}

th {
	text-align: center;
}

.navbar-default {
	background-color: #fff;
}
.navbar-default .navbar-nav>li>a {
	color: #2c3e50;
	font-family: Montserrat, sans-serif;
	font-weight: normal;
	transition: background-color 0.25s ease;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
	color: #fff;
	background-color: #70E1F5;
}
.navbar-brand {
	height: 100%;
	padding: 9.5px 15px;
}
.btn-brand {
	background-color: transparent;
	letter-spacing: 1px;
	font-family: Montserrat, sans-serif;
	border: 2px solid #fff;
	color: #fff;
	cursor: pointer;
	transition: all 0.25s ease;
}
.btn-brand.brand-color-a:hover {
	 color: #70E1F5;
	 background: #fff;
	 letter-spacing: 2px;
}
.btn-brand.brand-color-b:hover {
	 color: #FFD194;
	 background: #fff;
	 letter-spacing: 2px;
}
.row.card {
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 6px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	background: #fff;
	padding-bottom: 20px;
	padding-right: 15px;
}
.aligned-form {
	margin: 50px auto;
	text-align: center;
	position: relative;
	background: #fff;
	border: 0 none;
	border-radius: 6px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 25px 30px;
	font-family: Montserrat, sans-serif;
	box-sizing: border-box;
}
.aligned-form input:not([type=submit]), .aligned-form textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: Montserrat, sans-serif;
	color: #2C3E50;
	font-size: 13px;
}
.form-title {
	font-family: Montserrat, sans-serif;
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.form-subtitle {
	font-family: Montserrat, sans-serif;
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
.row-container {
	background-color: #fff;
}

.wrapper {
  margin-top: 80px;
  margin-bottom: 80px;
}

.form-susan {
  max-width: 650px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.form-susan .form-susan-heading,
.form-susan .checkbox {
  margin-bottom: 30px;
}
.form-susan .checkbox {
  font-weight: normal;
}
.form-susan .form-control:focus {
  z-index: 2;
}
.form-susan input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-susan input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-susan .btn {
	margin-top: 28px;
}

.capital:first-letter {
    text-transform:capitalize;
}

.btn-pagado {
	padding: 6px 32px;
}
.btn-nopagado {
	padding: 6px 22px;
}

.restantes-info {
	font-size: 12px;
    font-weight: bold;
    padding: 2px 4px;
}

.crud-hero {
	padding: 10px 148px;
}

.fa-star {
	color: #FFD194;
}

.footer {
	 position: absolute;
	 right: 0;
	 bottom: 0;
	 left: 0;
	 padding: 1rem;
	 text-align: center;
	 border-top: 1px solid #eee;
}
.footer p{ font-size: 0.8em; }
.top-buffer { margin-top:20px; }
.full-height { height: 100%; }

.content-container {
	background-color: white;
}