<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="fragments/header :: header"> </head>
<style>
    #logo-container {
        position: relative;
        background-image: url('img/susan.png');
        background-repeat: no-repeat;
        background-position: center bottom;
        width: 100%;
        height: 100%;
    }
</style>

<body>
    <div th:replace="fragments/menu :: menu">&nbsp;</div>
    <div class='container full-height'>
        <div class='row' style='height: 42%'>
            <div class='col-sm-offset-4 col-sm-4' style='height: 100%' align='center'>
                <div id="logo-container"></div>
            </div>
        </div>
        <div class='row top-buffer'>
            <div class='col-sm-offset-4 col-sm-2' align='center'>
                <a type='button' class='btn btn-brand brand-color-a' href='/login.jsp'>Ingresar</a>
            </div>
            <div class='col-sm-2' align='center'>
                <a type='button' class='btn btn-brand brand-color-b' href='/nuevo_cliente.jsp'>Registrarse</a>
            </div>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer">&nbsp;</div>
</body>
</html>