<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="es" th:replace="fragments/header :: header"></head>
<body>
    <div th:replace="fragments/menu :: menu">&nbsp;</div>
    <div class='row top-buffer'>
		<div class='col-offset-2 col-5' align='center'>
			<p th:if="${logout!=null}" class="bg-primary">Gracias por usar Susan</p>
			<p th:if="${error!=null}" class="bg-primary">Usuario o contraseña incorrecta</p>
			<div class="wrapper">
				<form class="form-susan" th:action="@{/logincheck}" method="POST">
					<h2 class="form-susan-heading">Iniciar Sesión</h2>
					<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
					<input type="text" name="username" id="username" class="form-control" placeholder="Usuario" autofocus/>
					<input type="password" name="password" id="password" class="form-control" placeholder="Contraseña" />
					<button class="btn btn-md btn-primary btn-block" type="submit">Ingresar</button>
				</form>
			</div>
		</div>
	</div>
	<div th:replace="fragments/footer :: footer">&nbsp;</div>
</body>
</html>