<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta charset='utf-8' />
        <meta http-equiv='X-UA-Compatible' content='IE=edge' />
        <meta name='viewport' content='width=device-width, initial-scale=1' />
        <meta name='description' content='Meet Susan' />
        <meta name='author' content='UPC Lab' />
        <link rel='icon' href='../../favicon.ico' />
        <title>Hoteles | Susan</title>
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
        <link rel="stylesheet" th:href="@{/css/susan-base.css}" ref="../../css/susan-base.css" />
    </head>
    <body>
        <div th:replace="fragments/menu :: menu">&nbsp;</div>
        <div class="panel panel-default" style="margin:10px">
            <div class="panel-heading">
                <h1 class="panel-title">Hoteles Susan</h1>
            </div>
            <div class="panel-body">
                <form class="form-inline" method="POST" th:action="@{/hoteles}" th:object="${hotel}" style="margin:20px 0;">
                    <div class="form-group">
                        <input type="hidden" th:field="*{id}"/>
                        <input type="text" class="form-control" id="nombre" th:field="*{nombre}" placeholder="Nombre"/>
                        <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"> Escriba un nombre válido </span>
                        <input type="number" class="form-control" id="calificacion" th:field="*{calificacion}" placeholder="Calificacion"/>
                        <input type="text" class="form-control" id="direccion" th:field="*{direccion}" placeholder="Direccion"/>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </body>
</html>