<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="es" th:replace="fragments/header :: header"> </head>
<body>
    <div th:replace="fragments/menupanel :: menupanel">&nbsp;</div>
    <div id="reservas-vue" class='container content-container'>
        <div class='row top-buffer'>
            <div class='col-12' align='center'>
				<table v-if="reservas.length != 0" class="table table-striped text-center">
					<thead>
						<tr>
							<th v-if="is_admin">Usuario</th>
							<th>Hotel</th>
							<th>Habitación</th>
							<th>Fecha Entrada</th>
							<th>Fecha Salida</th>
							<th>Fecha Reserva</th>
							<th>Estado</th>
							<th>Costo Total</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="reserva in reservas">
							<td v-if="is_admin" class="capital">{{reserva.username}}</td>
							<td>{{reserva.hotelname}}</td>
							<td>{{reserva.habitacionname}}</td>
							<td>{{properDate(reserva.fechadesde)}}</td>
							<td>{{properDate(reserva.fechahasta)}}</td>
							<td>
								{{properDate(reserva.fechareserva)}}
								<template v-if="getEstado(reserva) == 'Pendiente'">
								<br />
								<span :class="'restantes-info ' + getClassRestante(reserva.diasrestantes)">{{getTextRestante(reserva.diasrestantes)}}</span>
								</template>
							</td>
							<template v-if="is_admin">
								<td v-if="getEstado(reserva) == 'Pendiente'"><button class="btn btn-sm btn-success" @click="marcarPagado(reserva)">Marcar Pagado</button></td>
								<td v-if="getEstado(reserva) == 'Pagado'"><button class="btn btn-sm btn-pagado" disabled="disabled">Pagado</button></td>
								<td v-if="getEstado(reserva) == 'Anulado'"><button class="btn btn-sm btn-nopagado btn-warning" disabled="disabled">Anulado</button></td>
							</template>
							<td v-else>{{getEstado(reserva)}}</button></td>
							<td>S/. {{reserva.costototal}}</td>
						</tr>
					</tbody>
				</table>
				<div v-else><strong>Aun no tienes niguna reserva!</strong></div>
			</div>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer">&nbsp;</div>
    <script th:inline="javascript">
    
    	var reservas = JSON.parse(/*[[${reservas}]]*/);
    	
    	var app = new Vue({
    		el: "#reservas-vue",
    		data: {
    			reservas: reservas,
    			is_admin: /*[[${rol=='ROLE_ADMIN'}]]*/
    		},
    		methods: {
				properDate: function(date) {
					return date.replace(/(\d{4})-(\d{2})-(\d{2})/, "$3-$2-$1")
				},
    			getEstado: function(reserva) {
    				if (reserva.estado == 1) {
    					return "Pagado";
    				}
    				else {
    					if (moment(reserva.fechareserva).diff(moment(),"days") >= 0) {
    						return "Pendiente";
    					}
	    				else {
	    					return "Anulado" ;
	    				}
    				}
    			},
    			getTextRestante: function(diasrestantes) {
    				if (diasrestantes == 0)
    					return "Solo hoy";
    				if (diasrestantes == 1)
    					return diasrestantes + " día restante";
    				else
    					return diasrestantes + " días restantes";
    			},
    			getClassRestante: function(diasrestantes) {
    				if (diasrestantes <= 1)
    					return "bg-danger";
    				if (diasrestantes <= 3)
    					return "bg-warning";
    				else
    					return  "bg-info";
    			},
    			marcarPagado: function(reserva) {
					var vm = this;
    				$.ajax({
    					url: "/reservas/marcarpagado",
    					method: "POST",
    					data: {
    						reservaid: reserva.reservaid,
    						[[${_csrf.parameterName}]]: [[${_csrf.token}]]
    					}
    				})
    				.done(function(response){
    					vm.reservas = JSON.parse(response.reservas);
    				})
    				.fail(function(error) {
    					console.log(error.responseJSON.message);
    				});
    				
    			}
    			
    		}
    	});
    </script>
</body>
</html>