<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="es" th:replace="fragments/header :: header"> </head>
<style>
</style>

<body>
    <div th:replace="fragments/menupanel :: menupanel">&nbsp;</div>
    <div id="reserva-vue" class='container'>
        <div class='row'>
            <div class='col-1 col-10' align='center'>
            	<form class="form-susan" th:action="@{/reservar}" method="POST">
					<h2 class="form-susan-heading">Reservar</h2>
					<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
					<input type="hidden" name="fechareserva" v-model="fechareserva" />
					<div class="form-group">
						<label for="hotel">Hotel</label>
						<select name="hotel" id="hotelid" class="form-control" autofocus>
							<option v-for="hotel in hoteles" :value="hotel.id">{{hotel.nombre}}</option>
						</select>
					</div>
					<div class="form-group">
						<label for="fechadesde">Feche de Entrada</label>
						<input type="date" name="fechadesde" v-model="fechadesde" class="form-control"/>
					</div>
					<div class="form-group">
						<label for="fechasalida">Fecha de Salida</label>
						<input type="date" name="fechahasta" v-model="fechahasta" class="form-control"/>
					</div>
					<div class="form-group">
						<label class="h3">Servicios</label>
						<div v-for="servicio in servicios" class="text-left">
							<input type="checkbox" :value="servicio.id" v-model="servicios_selecionados">
							<strong>{{servicio.nombre}}</strong>
							<span class="pull-right">S./ {{servicio.costo}}</span>
							<p>{{servicio.descripcion}}</p>
						</div>
					</div>
					<div class="form-group" class="text-right">
						<label for="costototal">Costo Total: S/. {{costototal}}</label>
						<input type="hidden" step="0.01" name="costototal" v-model="costototal" class="form-control"/>
					</div>
					<button class="btn btn-md btn-primary btn-block" type="submit">Reservar</button>
				</form>
            </div>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer">&nbsp;</div>
    <script th:inline="javascript">
    	var app = new Vue({
    		el: "#reserva-vue",
    		data: {
    			hoteles: /*[[${hoteles}]]*/{},
    			servicios: /*[[${servicios}]]*/{},
    			servicios_selecionados: [],
    			fechareserva: moment().format("YYYY-MM-DD"),
    			fechadesde: moment().format("YYYY-MM-DD"),
    			fechahasta: moment().add(7,'days').format("YYYY-MM-DD"),
    		},
    		computed: {
    			costototal: function() {
    				var costo = 0;
    
    				for (var i=0; i < this.servicios_selecionados.length; i++) {
    					costo += this.servicios.find(
 							s => s.id == this.servicios_selecionados[i]
 						).costo;
    				}

    				return costo;
    			}
    		}
    	});
    </script>
</body>
</html>